<!DOCTYPE HTML>
<html>
<head><title>Title of this document</title>
<link href="/stylesheets/home.css" rel="stylesheet">
<script src="assets/js/html5shiv.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
<ul class="bubbles">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>

<div class="container">
<header class="header">
<h2>Robert Riachi</h2>
<h3>Programmer, Co-Founder of Pineapple Programs, and Bon Vivant</h3>

<nav class="navbar">
<div class="icons">
<ul>
<li><a href="https://www.linkedin.com/in/robertjrriachi"><i class="fa fa-linkedin-square fa-3x"></i></a>
</li>
<li><a href="https://github.com/RobertRiachi"><i class="fa fa-github-square fa-3x"></i></a></li>
<li><a href="#"><i class="fa fa-pied-piper fa-3x"></i></a></li>
</ul>
</div>
</nav>
</header>
<section class="content_area">
<div class="banner">
<div id="Me"><img src="http://s13.postimg.org/5s24mynvb/mesmaller.png" alt="Me"></div>
</div>
<div class="col col-6">I am a self-taught, knowledgeable programmer from Montreal, who began studying JavaScript at the age of 10 in order to make a flash game to impress a girl. When that failed, I quickly moved onto developing with C# in Unity. <br><br> Since then, I have also worked with Java, C++, Visual Basic, Python, AngularJS, Ionic, Node.js, Swift2.0 using Xcode 7, Android Studio and am currently studying Flux, Reactjs, and Redux at the moment.
</div>
<div class="col col-6 last">Most of the code for my projects is open source, and can be found on my
<a href="https://github.com/RobertRiachi" style="color:#ff66ff">GitHub</a>. My CTV interview can be found <a href="http://montreal.ctvnews.ca/video?playlistId=1.1744172" style="color:#ff66ff">here</a>, and my list of prizes/awards for my projects can be found 
<a href="https://www.linkedin.com/in/robertjrriachi" style="color:#ff66ff">here</a> on my LinkedIn.
<br><br> I am currently working with Swift2.0, Reactjs, and C# in hopes of developing Virtual Reality using
Microsoft's Hololens. While using my Academic Career to pursue Artificial Intelligence and Machine Learning. Currently working with TensorFlow.
</div>
</section>
<footer class="footer">Made By Robert Riachi</footer>
</div>
</body>
</html>