<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Robert Riachi</title>

<link rel="stylesheet" type="text/css" href="/stylesheets/Index.css">
<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

</head>
<body>

<a href="/home">
<div id="allCircles">

<h2>ENTER!</h2>

<div id="outer" class="box">

<img id="me" class="box" usemap="#circle1" alt="About Me" src="http://s21.postimg.org/9bb74jio7/hud1.png">


</div>

<div id="middle" class="box">


<img id="me2" class="box" usemap="#circle2" alt="About Me" src="http://s14.postimg.org/hdxdypuf5/hud2.png">


</div>

<div id="inner" class="box">

<img id="me3" class="box" usemap="#circle3" alt="About Me" src="http://s14.postimg.org/aovfwfygx/hud3.png">

</div>

</div>
</a>

</body>
</html>